<p id="notice"><%= notice %></p>

<p>
  <strong>Institute:</strong>
  <%= @mooc.institute %>
</p>

<p>
  <strong>Course:</strong>
  <%= @mooc.course %>
</p>

<p>
  <strong>Year:</strong>
  <%= @mooc.year %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @mooc.verified %>
</p>

<%= link_to 'Edit', edit_mooc_path(@mooc) %> |
<%= link_to 'Back', moocs_path %>
